body {
  font-family: 'Lato';
  margin: 0;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
}

.navbar {
  position:absolute;
  top:0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #05386B;
  flex-flow: row nowrap;
  max-height: 80px;
}

.navbar h1.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding-left: 1rem;
  border-right: 1px black solid;
  padding-right: 1rem;
  line-height: 10px;
  margin: 0;
  color:whitesmoke;
  padding: 20px
}

.navbar .menu {
  display: flex !important;
  flex-flow: row nowrap;
  justify-content: left;
  flex-grow: 1;
}

.navbar ul.navbar-menu {
  list-style: none;
  display: flex !important;
  flex-flow: row nowrap;
  justify-content: left;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: flex;
}

.navbar ul li a {
  font-size: 1.25rem;
  padding: 30px;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  text-decoration: none;
  border-right: 1px black solid;
}

.navbar ul li:last-child a {
  border-right: none;
}


.navbar ul li a.active {
  background-color: #CEBC81;
}

.navbar ul li a:hover {
  background-color: #FCE181;
}

.mikrite-title-group {
  position: relative;
  margin-top: 80px;
  background: url("https://www.tandemovy-seskok.cz/513/tandemovy-seskok.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;

  width: 100%;
  height: 1440px;
}

.mikrite-title-group::before {
  opacity: 0.6;
  display: block;
  content: '';
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
}

.mikrite-title-group .row {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-flow: row nowrap;
  top: 80px;
  padding-top: 50vh;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  margin: 0 20px;

  color: whitesmoke;
  z-index: 100;

}

.row .title {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  border-right: 5px whitesmoke solid;
  justify-content: left;
  align-items: flex-start;
}

.row .title h1 {
  margin: 10px;
  font-size: 4em;
}
.row .title h2 {
  margin: 10px;
  font-size: 2em;
}

.row .information {
  padding-left: 30px;
}

footer {
  display: flex;
  background-color: #05386B;
  flex-direction: row;
  justify-content: center;
  border-top: 2px whitesmoke solid;
  z-index: 1209;
}
footer .footer-title {
  color: whitesmoke;

}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  padding-top: 100px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex: 2 1 auto;
  background-color: #D79922;
  color: whitesmoke;
  justify-content: center;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .content h2 {
    font-size: 18px;
  }
}

.content {
  background-color: #1A1A1D;
  border: #4E4E50 1px solid;
  margin: 20px;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 3 0 0;
  border-radius: 7px;
  height: 100%;
}

.content h1 {
  padding-bottom: 10px;
  border-bottom: 1px whitesmoke solid;
  border-radius: 4px;
}

.subtitle {
  padding-bottom: 10px;
  border-bottom: 1px whitesmoke solid;
}

.types {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.type {
  font-size: large;
  margin-bottom:10px
}



.gallery {
  background-color: #1A1A1D;
  border: #4E4E50 1px solid;
  margin: 20px;
  padding: 10px;
  flex: 5 0 10px;
  border-radius: 7px;
}



.gallery h1 {
  padding-bottom: 10px;
  border-bottom: 1px whitesmoke solid;
  border-radius: 4px;
}

.gallery-container {
  display:flex;
  flex-direction: column;
}

.gallery-row {
  display: flex;
  flex-direction: row;
  flex: 1 0 0px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}

.gallery-row .item {
  margin-left: 10px;
  margin-right: 10px;
  width: 33%;
}

.gallery-row img {
  width: 100%;
  height: 100%;
  border: whitesmoke 2px groove;
}

.contact-container {
  padding: 50px;
  justify-content: center;
  align-items: center;
  background-color: #1A1A1D;
  border: #4E4E50 1px solid;
  margin: 20px;
  box-sizing: border-box;
  border-radius: 7px;
}

.mail-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  box-sizing: border-box;
}

.email-row {
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}



.email-row label {
  flex-direction: row;
  flex-grow: 1;
  margin-right: 10px;
  font-family: Lato;
  justify-content: flex-start;
}

.email-row input[type=text] {
  padding:10px;
  font-family: Lato;
  flex-grow: 1;
  justify-content: flex-end;
}

.email-row input[type=text]:focus {
  padding:10px;
  border: #44aaee 2px solid;

}

.email-row input[type=submit] {
  padding: 10px;
  font-family: Lato;
  background-color: #123C69;
  border: none;

}

.email-row input[type=submit]:hover {
  cursor: pointer;
  background-color: #EEE2DC;
}

