.arial-paragraph {
   font-family: "Arial";
 }

.arial-black-paragraph {
  font-family: "Arial Black";
}

.verdana-paragraph {
  font-family: "Verdana";
}

.trebuchet-paragraph {
  font-family: "Trebuchet MS";
}

.times-new-roman-paragraph {
  font-family: "Times New Roman";
}

.georgia-paragraph {
  font-family: "Georgia";
}

.courier-paragraph {
  font-family: "Courier";
}

.courier-new-paragraph {
  font-family: "Courier New";
}

.comic-sans-paragraph {
  font-family: "Comic Sans MS";
}

.calibri-paragraph {
  font-family: "Calibri";
}

.candara-paragraph {
  font-family: "Candara";
}

.corbel-paragraph {
  font-family: "Corbel";
}

.cambria-paragraph {
  font-family: "Cambria";
}

.constantia-paragraph {
  font-family: "Constantia";
}

.consolas-paragraph {
  font-family: "Consolas";
}

